[Unit]
Description=Configure emulator runtime for WSL
DefaultDependencies=no
After=local-fs.target systemd-remount-fs.service
Before=multi-user.target ModemManager.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/configure-wsl-runtime.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target